<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock title %}| Project Management System</title>
</head>
<body>
    <nav class="py-6 px-6 flex flex-wrap justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold">Vihiga County Projects</a>
        <div class="flex space-x-6 mt-4 sm:mt-0">
            <a href="{% url 'home' %}" class="text-lg font-semibold hover:text-gray-500">New Projects</a>
            <a href="{% url 'completed' %}" class="text-lg font-semibold hover:text-gray-500">Completed Projects</a>
            <a href="{% url 'create_account' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign Up</a>
            <a href="{% url 'login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log In</a>
        </div>
    </nav>
    


    <div class="px-6 py-6">
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="py-6 px-6 flex justify-between bg-gray-800">
        <div class="w-2/3 pr-10">
            <h3 class="mb-5 font-semibold text-gray-400">About</h3>
            <h4><p class="text-lg text-gray-500">Vihiga Project Tracker is an Information Management System designed for Vihiga County, located in the Western parts of
                Kenya. It keeps records of the diverse construction and development projects within the county. This system significantly reduce workloads and streamlines paperwork, ensuring
                enhanced efficiency. Moreover, it revolutionalizes project tender allocation by fostering transparency. Project progress, more information on the projects and
                the funds allocated will be readily accessible to the general public, promoting integrity,equity, accountability,transparency and inclusivity </p></h4>
        </div>
        <div class="">
            <ul>
                <li>Toll Free Line: 0800720378</li>
                <li>Address: P.O.Box 344 – 50300</li>
                <li>Email: communications@vihiga.go.ke</li>
                <li>Email: info@vihiga.go.ke</li>
                <li>Location: Mbale Town, Vihiga County- Kenya</li>
            </div>

        <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
        

            <li><a href="{% url 'privacy' %}" class ="text-lg text-teal-500 hover:text-teal-700">Privacy</a></li>
            <li><a href="{% url 'terms' %}" class ="text-lg text-teal-500 hover:text-teal-700">Terms of use</a></li>


        </div>

        <div>
            Vihiga County. All rights reserved © 2023.
        </div>
    </footer>
</body>
</html>