{% extends 'tracker/base.html' %}
{% load static %}
<style>
  
/*-- blog --*/
h3.heading,h2.heading {
    font-size: 50px;
    color: #222;
    text-transform: capitalize;
    letter-spacing: 2px;
     position: relative;
}
h3.heading:after,h2.heading:after {
    position: absolute;
    content: '';
    background: #333;
    width: 10%;
    height: 2px;
    bottom: 0%;
    left: 45%;
}
.blog-grids h4 {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 600;
    color: #353c4e;
}
.blog-grids h5 {
      font-size: 16px;
    font-weight: 600;
    color: #999;
    letter-spacing: 0.5px;
    margin-top: 3em;
}
.blog-grids p {
    font-size: 15px;
    letter-spacing: .5px;
    color: #777;
    font-weight: normal;
}
.blog-grids.head h5 {
    font-size: 16px;
    font-weight: 600;
    color: #999;
    letter-spacing: 0.5px;
    margin-top: 2em;
}
.blog-img1 img,.blog-img2 img {
    position: relative;
}
.blog-img1 a {
    position: absolute;
    right: 2.6%;
    top: 1%;
    background: #fff;
    color: #333;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
	letter-spacing: 1px;
}
.blog-img2 a {
    position: absolute;
    left: 2.8%;
    top: 1%;
    background: #fff;
    color: #333;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
	letter-spacing: 1px;
}
/*-- //blog --*/
</style>
	
{% block content %}


<section class="blog py-5">
	<div class="container py-md-5 py-3">
		<h3 class="heading text-center mb-sm-5 mb-4">{{ project.project_name }} Progress</h3>
		<div class="row blog-grids">
			
			<div class="col-lg-5 mb-lg-0 mb-4">
				<h5>March 3, 2019.</h5>
				<h4 class="my-3">Description</h4>
				<p class="my-3">{{ projectprogress.description }}</p>
        <p>The project <b>{{project.project_name}}</b> was allocated to <b>{{project.company_name}}</b>. This Project Begins on <b>{{project.commencement_date}}</b> and is supposed 
          to come to completion after a period of <b>{{project.contract_period_months}}</b> months. <br>
            This project is overseen by the <b>{{project.procurrement_department}}</b>.<br><br>

        
          {% comment %} Square per meter rate or lm: KSh {{ project.sqm_rate_or_lm }} <br><br> {% endcomment %}
          {% comment %} Site Location: {{ project.site_location }}<br><br> {% endcomment %}
          Floor Area: {{ project.floor_area }}<br>
          Contract Sum: Ksh {{ project.contract_sum }}<br>
          Work Status: {{ project.work_status }}<br><br>
                
        </p>
          <div class="property-info-list">
            <div class="detail">
                <h4 class="title">
                    <a href="#">{{ project.site_location }}</a>
                </h4>
                <div class="location mt-2">
                    <a href="#">
                      <img src="{% static 'images/location.svg' %}" height="24" width="24"/>
                      {{ project.project_location }} / Kenya
                </a>
                </div>
                <ul class="facilities-list clearfix">
                    <li>
                      <img src="{% static 'images/danger.svg' %}" height="24" width="24"/> </span> {{projectprogress.get_remaining_days}} days to project completion
                    </li>
                    <br>
                </ul>
            </div>
            <div class="footer-properties">
                <a class="admin" href="#">
                  <img src="{% static 'images/company.svg' %}" height="24" width="24"/>  {{project.company_name}}<br>
            </a>
                <span class="year text-right"><img src="{% static 'images/calendar.svg' %}" height="24" width="24"/> Start Date: {{projectprogress.start_date}}</span>

            </div>
        </div>
			</div>
			<div class="col-lg-7 blog-img2">
        <img src="{{ projectprogress.main_image.url }}" alt="projectProgress" style="border-radius:5%;">
				{% comment %} <a href="#"></a> {% endcomment %}
			</div>
		</div>
	</div>
</section>
{% endblock %}