{% extends 'tracker/base.html'%}
{% block title %} Vihiga County {% endblock title %}
{% block content %}

<div class = "mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center font-bold">Recent Projects</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for project in projects %}
        <div>
            <a href=" {% url 'detail' project.id%}">

                
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl text-blue-500 font-bold">{{ project.project_name}} </h2>
                </div>
            </a>
            <div>
                <p class="text-1xl  ">Project Location: {{ project.project_location}} </p>
                <p class="text-1xl">Company Name : {{ project.company_name}} </p>
                <p class="text-1xl">Commencement Date : {{ project.commencement_date}} </p>
                <p class="text-1xl">Contract Period in Months: {{ project.contract_period_months}} </p>
            </div>
            <div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
   {% endblock content %}
</body>
</html>
{% comment %} ADMIN LOGIN.....TAKES YOU TO A PAGE WHEERE ONE CAN LOGIN AS ACCOUNTANT OR ADMIN PLAY WITH THE URLS {% endcomment %}

{% comment %} 
                                                        ABOUT
<h1>Vihiga Project Tracker is an Information Management System designed for Vihiga County, located in the Western parts of
    Kenya. It keeps records of the diverse construction and development projects within the county. This system significantly reduce workloads and streamlines paperwork, ensuring
    enhanced efficiency. Moreover, it revolutionalizes project tender allocation by fostering transparency. Project progress, more information on the projects and
    the funds allocated will be readily accessible to the general public, promoting integrity,equity, accountability,transparency and inclusivity</h1>


    ADD LINK TO CONNECT TO VIGIGA COUNTY WEBSITE

    CONTACT US
    Toll Free Line: 0800720378
    Address: P.O Box 344 - 50300
    Email:info@vihiga.go.ke
    Email: communications@vihiga.go.ke
    Website:vihiga.go.ke
    Location: Mbale Town, Vihiga County-Kenya.


    EXTERNAL LINKS
    vihiga Website
    E-citizen Portal
    KRA Itax Portal
    

    COPY PASTE THE PRIVACY POLICY 
    COPY PASTE TERMS AND CONDITIONS

    COPY THE FOOTER

    NO NEED FOR CONTACT US PAGE AND ABOUT PAGE

ADD THE ICON OF THE COUNTY as favicon  {% endcomment %}