{% extends 'users/base.html' %}
{% block title %} {{ project.project_name }} {% endblock title %} 

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <h2 class="text-2xl">{{ project.project_name}} </h2>
        <p class="text-2xl">Project Location: {{ project.project_location}} </p>
        <p class="text-2xl">Contracting Company Name : {{ project.company_name}} </p>
        <p class="text-2xl">Commencement Date : {{ project.commencement_date}} </p>
        <p class="text-2xl">Sqm rate or lm: {{ project.sqm_rate_or_lm}} </p>
        <p class="text-2xl">Procurrement Department: {{ project.procurrement_department}} </p>
        <p class="text-2xl">Tender: {{ project.tender_no}} </p>
        <p class="text-2xl">Site Location: {{ project.site_location}} </p>
        <p class="text-2xl">Floor Area: {{ project.floor_area}} </p>
        <p class="text-2xl">Contract Sum: {{ project.contract_sum}} </p>
        <p class="text-2xl">Contract Period (months): {{ project.contract_period_months}} </p>

        <h2><p> PROJECT PROGRESS </p></h2>
        <p class="text-2xl">Work Status: {{ project.work_status}} </p>
        <p class="text-2xl">Completed: {{ project.completed}} </p>
        <div>
            <img src="{{ projectprogress.images.url}}" class="squared-t-xl">
        </div>
        <p class="text-2xl">Description : {{ projectprogress.description}} </p>
   
    </div>

</div>

{% endblock content %}