{% extends 'users/base.html'%}
{% block title %} Vihiga County {% endblock title %}
{% block content %}
    {% comment %} <h1>Landing Page </h1>
    <h3>Getting started</h3>
    <p>Have an account?</p> {% endcomment %}
<div class = "mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center font-bold">Recent Projects</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for project in projects %}
        <div>
            <a href="#">
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl text-blue-500 font-bold">{{ project.project_name}} </h2>
                </div>
            </a>
            <div>
                <p class="text-1xl  ">Project Location: {{ project.project_location}} </p>
                <p class="text-1xl">Company Name : {{ project.company_name}} </p>
                <p class="text-1xl">Commencement Date : {{ project.commencement_date}} </p>
                {% comment %} <p class="text-1xl">sqm_rate_or_lm: {{ project.sqm_rate_or_lm}} </p>
                <p class="text-1xl">procurrement_department: {{ project.procurrement_department}} </p>
                <p class="text-1xl">tender_no: {{ project.tender_no}} </p>
                <p class="text-1xl">site_location: {{ project.site_location}} </p>

                <p class="text-1xl">floor_area: {{ project.floor_area}} </p>
                <p class="text-1xl">contract_sum: {{ project.contract_sum}} </p>

                <p class="text-1xl">work_status: {{ project.work_status}} </p>
                <p class="text-1xl">completed: {{ project.completed}} </p> {% endcomment %}
                {% comment %} {% if completed==False %}<p>Not Yet</p>{% endif %}  {% endcomment %}
                <p class="text-1xl">Contract Period in Months: {{ project.contract_period_months}} </p>


            </div>
        </div>
        {% endfor %}
    </div>
</div>

    {% comment %} <a href="{% url 'student-login' %}">Login as Student</a><br> {% endcomment %}
    {% comment %} <h2><a href="{% url 'login' %}">Login </a></h2>
  
    <p>Not yet registered!</p>
    <a href="{% url 'accountant-signup' %}">Signup as Accountant / Procurement officer </a><br>
    <a href="{% url 'minister-signup' %}">Signup as Minister / Architect / Admin</a> {% endcomment %}
    {% endblock content %}
</body>
</html>